p,
ol,
ul,
dl {
    margin: 0px 0px 0rem !important;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
}

.st-emotion-cache-z5fcl4 {
    width: 100%;
    padding: 2rem 2rem 4rem !important;
    min-width: auto;
    max-width: initial;
}

.right {
    float: right;
}

.st-af {
    font-size: .8rem !important;
}

.st-emotion-cache-16idsys p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 16px !important;
    font-weight: 600 !important;
}